<!-- Edit topic form -->
<form>
    <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" placeholder="subjet name" class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <button type="button">Edit</button>
            </div>
            
    </div>
</form>