<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Oswald" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <header class="header header--tracker">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </header>
    {{{body}}}
  </div>
</body>

</html>