<!-- Edit topic form -->
<form>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <input name="subjectName" type="text" placeholder="subjet name" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="beforeClass" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="afterClass" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="monday" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="tuesday" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="wednesday" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="thursday" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <input name="friday" type="number" class="form-control">
            </div>
        </div>
        <div class="col-lg-1">
            <button>Edit topic</button>
        </div>
    </div>
</form>